PUBLIC_SUPABASE_URL=https://<seu-projeto>.supabase.co
PUBLIC_SUPABASE_ANON_KEY=<sua-anon-key>
PUBLIC_LOCAL=6gf96u6q8
PUBLIC_GITHUB_TOKEN=<github-fine-grained-token-com-permissao-actions-write>
PUBLIC_GITHUB_OWNER=
PUBLIC_GITHUB_REPO=MenorPreco
